.root {
  li {
    display: inline-block;

    a {
      width: 40px;
      height: 40px;
      display: inline-block;
      text-align: center;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      line-height: 38px;
      color: #fe5f1e;
      &:hover {
        background-color: rgb(255, 198, 71);
        color: black;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: rgb(255, 198, 71);
        color: black;
      }
    }
  }
}
